// ============================================================================
// COFIRA - Functions
// ============================================================================

// Convertir px a rem
@function rem($px) {
  @return calc($px / 16px) * 1rem;
}

// Get spacing value from map
@function spacing($key) {
  @return map-get($spacing-map, $key);
}

// Strip unit from number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return calc($number / ($number * 0 + 1));
  }

  @return $number;
}

// Calculate contrast ratio (WCAG)
@function luminance($color) {
  $red: red($color) / 255;
  $green: green($color) / 255;
  $blue: blue($color) / 255;

  $red: if($red <= 0.03928, calc($red / 12.92), pow(calc(($red + 0.055) / 1.055), 2.4));
  $green: if($green <= 0.03928, calc($green / 12.92), pow(calc(($green + 0.055) / 1.055), 2.4));
  $blue: if($blue <= 0.03928, calc($blue / 12.92), pow(calc(($blue + 0.055) / 1.055), 2.4));

  @return 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
}

@function contrast-ratio($color1, $color2) {
  $l1: luminance($color1);
  $l2: luminance($color2);

  @if $l1 > $l2 {
    @return calc(($l1 + 0.05) / ($l2 + 0.05));
  } @else {
    @return calc(($l2 + 0.05) / ($l1 + 0.05));
  }
}

// Get contrasting text color (black or white)
@function contrasting-color($background, $light: $color-white, $dark: $color-black) {
  $light-contrast: contrast-ratio($background, $light);
  $dark-contrast: contrast-ratio($background, $dark);

  @return if($light-contrast > $dark-contrast, $light, $dark);
}

// Tint (lighten) color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Shade (darken) color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Power function (helper for luminance)
@function pow($number, $exponent) {
  $result: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $result: $result * $number;
    }
  } @else if $exponent < 0 {
    @for $i from -1 through $exponent {
      $result: calc($result / $number);
    }
  }

  @return $result;
}
