@import '../../../../../../styles/components/_forms.scss';

// Component specific styles if any, extending the c-form__input styles for select
.c-form__input {
  // No specific styles here as all styling comes from _forms.scss and ngClass
}
