@import '../../../../../styles/00-settings/css-variables';
@import '../../../../../styles/01-tools/mixins';

.breadcrumbs {
  padding: var(--spacing-size-s) var(--spacing-size-m);
  background-color: var(--gris-dark);
  border-radius: var(--radius-xss);
  max-width: 1200px;
  margin: var(--spacing-size-m) auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-size: var(--font-size-sm);
    font-family: var(--font-primary);
    color: var(--text-dark);
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: '/';
      margin: 0 var(--spacing-size-xss);
      color: var(--text-dark);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--amarillo-normal);
    transition: color var(--duration-fast);

    &:hover {
      color: var(--amarillo-normal-hover);
    }
  }

  &__current {
    font-weight: var(--font-weight-semibold);
    color: var(--text-dark);
  }
}
