// ============================================================================
// COFIRA - Breakpoints Settings
// ============================================================================

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// Container Max Widths
$container-xs: 100%;
$container-s: 540px;
$container-m: 720px;
$container-l: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;
