@import '../../../../../../styles/00-settings/css-variables';
@import '../../../../../../styles/01-tools/mixins';

.steps-indicator {
  margin-bottom: var(--spacing-size-xl);
  width: 100%;

  &__list {
    display: flex;
    justify-content: center;
    gap: var(--spacing-size-m);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include flex-center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-circle);
    border: 2px solid var(--border-light);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    font-weight: var(--font-weight-bold);
    @include transition-base;

    &--active {
      border-color: var(--negro-puro);
      background-color: var(--negro-puro);
      color: var(--blanco-puro);
    }
  }

  &__number {
    font-size: var(--font-size-md);
  }

  @include responsive('s') {
    &__list {
      gap: var(--spacing-size-s);
    }

    &__item {
      width: 32px;
      height: 32px;

      .steps-indicator__number {
        font-size: var(--font-size-sm);
      }
    }
  }
}
