// ============================================================================
// COFIRA - Border Radius Settings
// ============================================================================

$radius-xss: 4px;
$radius-xs: 8px;
$radius-s: 12px;
$radius-m: 16px;
$radius-l: 24px;
$radius-xl: 32px;
$radius-circle: 50%;
$radius-pill: 9999px;
