@import '../../../../../../styles/settings/colors';
@import '../../../../../../styles/settings/typography';
@import '../../../../../../styles/settings/spacing';
@import '../../../../../../styles/settings/radios';
@import '../../../../../../styles/components/_cards.scss';
@import '../../../../../../styles/components/_forms.scss';

.account-settings {
  @include card;
  padding: $spacing-xl;
  max-width: 700px;
  margin: $spacing-xl auto;

  &__header {
    text-align: center;
    margin-bottom: $spacing-xl;
    h1 {
      font-family: $font-family-heading;
      font-size: $font-size-h2;
      color: var(--text-primary);
      margin-bottom: $spacing-s;
    }
    p {
      font-size: $font-size-body;
      color: var(--text-secondary);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-m;
  }

  &__footer {
    margin-top: $spacing-xl;
    text-align: center;
  }
}
