@import '../../../../../styles/00-settings/css-variables';
@import '../../../../../styles/01-tools/mixins';

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 14, 16, 0.7);
  z-index: 9999;
  @include flex-center;
  animation: fadeIn var(--duration-base) ease-in-out;
}

.spinner {
  display: flex;
  gap: var(--spacing-size-xss);
  margin: 0;

  &__dot {
    width: var(--spacing-size-m);
    height: var(--spacing-size-m);
    background-color: var(--amarillo-normal);
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }
    &:nth-child(2) {
      animation-delay: -0.16s;
    }
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
