@import '../../../../../../styles/components/_buttons.scss';

// Component specific styles if any, extending the c-button styles
.c-button {
  // No specific styles here as all styling comes from _buttons.scss and ngClass
}
