@import '../../../../../../styles/settings/colors';
@import '../../../../../../styles/settings/typography';
@import '../../../../../../styles/settings/spacing';
@import '../../../../../../styles/settings/radios';
@import '../../../../../../styles/settings/breakpoints';
@import '../../../../../../styles/tools/mixins';
@import '../../../../../../styles/components/_buttons.scss';
@import '../../../../../../styles/components/_forms.scss';
@import '../../../../../../styles/components/_cards.scss';

.onboarding-about {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  padding: $spacing-xl;
  border-radius: $radius-l;
  box-shadow: var(--shadow);
  max-width: 600px;
  margin: $spacing-xl auto;

  &__header {
    text-align: center;
    margin-bottom: $spacing-xl;

    h1 {
      font-family: $font-family-heading;
      font-size: $font-size-h2;
      margin-bottom: $spacing-s;
      color: var(--text-primary);
    }

    p {
      font-size: $font-size-body;
      color: var(--text-secondary);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-m;
  }

  &__gender-options {
    display: flex;
    gap: $spacing-s;
    flex-wrap: wrap; // Allow buttons to wrap on smaller screens
    justify-content: center;

    .c-button {
      flex: 1 1 auto; // Distribute space
      max-width: 180px; // Max width for buttons
    }
  }

  &__footer {
    margin-top: $spacing-xl;
    text-align: center;
  }
}
