<section class="strength-gain-chart c-card">
  <header class="strength-gain-chart__header">
    <h3>Gráfico de Ganancia de Fuerza</h3>
    <select class="strength-gain-chart__dropdown" (change)="onExerciseChange($event)" [value]="selectedExercise()">
      <option value="">Seleccionar Ejercicio</option>
      @for (exercise of exercises(); track exercise) {
      <option [value]="exercise">{{ exercise }}</option>
      }
    </select>
  </header>
  <section class="strength-gain-chart__body">
    @if (selectedExercise()) {
    @if (hasProgressData()) {
    <div class="chart-container" style="height: 400px;">
      <canvas baseChart [data]="lineChartData()" [options]="lineChartOptions" type="line">
      </canvas>
    </div>
    } @else {
    <p>No hay datos de progreso para este ejercicio.</p>
    }
    } @else {
    <p class="placeholder-text">Selecciona un ejercicio para ver tu progreso</p>
    }
  </section>
</section>