@import '../../../../../../styles/00-settings/css-variables';
@import '../../../../../../styles/01-tools/mixins';
@import '../../../../../../styles/05-components/boton';
@import '../../../../../../styles/05-components/formulario';

.searchable-tags {
  background-color: var(--gris-normal);
  color: var(--text-dark);
  padding: var(--spacing-size-m);
  border-radius: var(--radius-xss);
  box-shadow: var(--shadow-md);
  max-width: 600px;
  margin: 0 auto;

  &__header {
    margin-bottom: var(--spacing-size-m);
    input {
      width: 100%;
    }
  }

  &__tags,
  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-size-xss);
    margin-bottom: var(--spacing-size-m);
  }

  .tag {
    display: inline-flex;
    align-items: center;
    padding: var(--spacing-size-xss) var(--spacing-size-s);
    border-radius: var(--radius-pill);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-primary);

    button {
      @include boton-reset;
      margin-left: var(--spacing-size-xss);
      font-weight: var(--font-weight-bold);
      color: inherit;
      cursor: pointer;
    }

    &--red {
      background-color: rgba(255, 52, 52, 0.1);
      color: var(--button-red);
    }

    &--yellow {
      background-color: rgba(255, 211, 0, 0.1);
      color: var(--amarillo-normal);
    }
  }

  &__suggestions {
    .boton {
      padding: var(--spacing-size-xss) var(--spacing-size-s);
      border-radius: var(--radius-pill);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-regular);
      border: 1px solid var(--gris-dark);
      color: var(--text-dark);

      &:hover {
        background-color: var(--gris-dark);
      }
    }
  }
}
