@import '../../../../styles/settings/colors';
@import '../../../../styles/settings/typography';
@import '../../../../styles/settings/spacing';
@import '../../../../styles/settings/breakpoints';
@import '../../../../styles/tools/mixins';

.footer {
  background-color: $color-dark-tertiary;
  color: $color-gray-medium;
  padding: $spacing-xxl 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-xl;

    @include respond-to(m) {
      grid-template-columns: 1fr 1.5fr;
      gap: $spacing-xxl;
    }
  }

  &__brand {
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    font-size: $font-size-h3;
    color: $color-brand-primary;
    margin-bottom: $spacing-s;
  }

  &__description {
    font-size: $font-size-body;
    line-height: $line-height-relaxed;
    margin-bottom: $spacing-m;
    max-width: 350px;
  }

  &__social {
    display: flex;
    gap: $spacing-s;
  }

  &__social-link {
    color: $color-gray-medium;
    display: inline-block;
    @include transition(color);

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: $color-white;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-xl;

    @include respond-to(s) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__links-title {
    font-family: $font-family-base; // Titles in footer are usually not main headings
    font-weight: $font-weight-semibold;
    font-size: $font-size-body;
    color: $color-white;
    margin-bottom: $spacing-m;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__links-group ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: $spacing-s;

      a {
        text-decoration: none;
        color: $color-gray-medium;
        @include transition(color);

        &:hover {
          color: $color-white;
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    margin-top: $spacing-xl;
    padding-top: $spacing-m;
    border-top: 1px solid $color-dark-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-s;
    font-size: $font-size-small;
    color: $color-gray-dark;

    p {
      margin: 0;
    }
  }

  &__bottom-links {
    display: flex;
    gap: $spacing-m;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: $color-gray-dark;
      @include transition(color);

      &:hover {
        color: $color-white;
        text-decoration: underline;
      }
    }
  }
}

// Need to import the object class for container
@import '../../../../styles/objects/container';