@import '../../../../../styles/00-settings/css-variables';
@import '../../../../../styles/01-tools/mixins';

.meal-section {
  background-color: var(--bg-secondary);
  padding: var(--spacing-size-l);
  border-radius: var(--radius-lg);
  border: 1px solid var(--border-light);
  color: var(--text-primary);

  h3 {
    @include tipografia-titulo;
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-size-m);
    color: var(--text-primary);
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__footer {
    border-top: 1px solid var(--border-light);
    padding-top: var(--spacing-size-m);
    margin-top: var(--spacing-size-m);
    text-align: right;
  }

  &__info-button {
    @include button-reset;
    @include flex-center;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-circle);
    color: var(--text-secondary);
    background-color: transparent;
    @include transition-base;

    &:hover {
      background-color: var(--border-light);
      color: var(--text-primary);
    }
  }
}
