@import '../../../../../styles/00-settings/css-variables';
@import '../../../../../styles/01-tools/mixins';

.food-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-s);
  padding: var(--spacing-size-xs) 0;
  border-bottom: 1px dashed var(--border-light);

  &:last-child {
    border-bottom: none;
  }

  &__icon {
    @include flex-center;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-circle);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    margin: 0;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    font-size: var(--font-size-md);
  }

  &__quantity {
    font-weight: var(--font-weight-medium);
  }

  &__name {
    margin-left: var(--spacing-size-s);
  }
}
