@import '../../../styles/00-settings/css-variables';
@import '../../../styles/01-tools/mixins';

.training-page {
  @include section-spacing;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--spacing-size-m);
  padding-right: var(--spacing-size-m);

  &__header {
    margin-bottom: var(--spacing-size-xxl);
    text-align: center;

    h1 {
      @include text-display;
      margin: 0;
    }
  }
}
